#matches-output {
    max-height: 500px;
    overflow: auto;
}

.c-search-and-replace-holder {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10px;
    align-items: start;
}
