@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap");

body {
    background: #333;
    color: #999;
    font-family: "IBM Plex Sans", Helvetica, sans serif;
    font-size: 0.8em;
    margin: 0;
}

body > * + * {
    margin-top: 10px;
}

a {
    color: #ff8000;
}

p {
    display: block;
    padding: 4px 6px;
}

div {
    box-sizing: border-box;
}

h1 {
    color: white;
    font-size: 1.5em;
}

.app-version {
    font-weight: 100;
    opacity: 0.3;
}

h2, h3 {
    font-size: inherit;
    text-transform: uppercase;
}

ol, ul {
    margin: 5px 0;
    padding: 0 20px;
}

.--main h2 {
    padding: 4px 6px;
    margin: 2px 0;
    border-radius: 3px;
    background: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.8);
}

.--sidebar {
    /*background: rgba(255, 255, 255, 0.05);*/
    /*border-radius: 3px;*/
    padding: 5px;
}

.--sidebar h2 {
    font-size: 1em;
    margin-top: 20px;
}

.--sidebar h2:first-child {
    margin-top: 0;
}

h3 {
    font-weight: normal;
}

input[type="text"],
input[type="number"],
textarea,
select,
.output {
    border: 1px solid #333;
    border-radius: 3px;
    box-sizing: border-box;
    color: inherit;
}

input[type="text"],
input[type="number"],
textarea {
    background: #222;
    appearance: none;
    padding: 5px 10px;
}

input[type="text"] {
    width: 200px;
}

button,
input[type="file"],
input[type="submit"] {
    cursor: pointer;
    width: max-content;
}

button,
input[type="submit"] {
    background-color: #666;
}

button[disabled] {
    pointer-events: none;
    opacity: 0.2;
}

select {
    background: #444;
    padding: 4px;
}

button,
.c-btn {
    appearance: none;
    background: #ecb157;
    border-radius: 3px;
    border: 1px solid transparent;
    box-sizing: border-box;
    color: #222;
    font-size: 1em;
    font-weight: 600;
    padding: 5px 20px;
    text-decoration: none;
}

form {
    display: contents;
}

.page,
.head {
    padding: 0 20px;
}

.page {
    display: flex;
    flex-direction: row;
    /*position: absolute;*/
    /*top: 0;*/
    /*right: 0;*/
    /*bottom: 0;*/
    /*left: 0;*/
    /*overflow: hidden;*/
}

.page-main {
    display: flex;
    flex-direction: column;
    flex: 1 1 70%;
}

.page-main + .page-main {
    margin-left: 10px;
    flex: 0 1 30%;
}

.page-section {
    flex: 0 0 auto;
}

.page-section.--can-shrink,
.page-section.--expands {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.page-section.--can-shrink {
    flex: 0 1 auto;
    min-height: 15vh;
}

.page-section.--expands {
    flex: 2 1 auto;
}

.page-section.--can-shrink .--scrolls,
.page-section.--expands .--scrolls {
    overflow: auto;
}

.page-section.--min-content {
    min-height: min-content !important;
}

.c-btn-run {
    background: #ff8000;
}

.sm input {
    width: 75px;
}

[class*='-holder'] {
    display: flex;
}

[class*='-holder'] > * {
    flex: 1 1 50%;
}

[class*='-holder'] > * + * {
    margin-left: 10px;
}

.c-how,
.c-msg {
    /*max-height: 20vh;*/
    overflow: auto;
    padding: 0 10px;
}

.c-msg {
    line-height: 150%;
}

.c-config {
    align-items: start;
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    height: min-content;
}

.c-config h2 {
    grid-column: span 2;
}

.c-config__label {
    padding: 5px 0;
}

.c-file-input {
    align-items: center;
    display: flex;
}

.c-file-input input[type="file"] {
    flex: 1 1 auto;
}

.c-file-input .c-btn {
    flex: 0 0 max-content;
}

.output, .message {
    padding: 10px;
}

.output {
    background: rgba(255, 255, 255, 0.1);
    min-height: 1em;
    max-height: 10em;
    overflow: auto;
    word-break: break-all;
}

.output.lg {
    /*min-height: 100px;*/
    /*max-height: 300px;*/
}

.page-section--centered {
    text-align: center;
}

.--main .page-section + .page-section {
    margin-top: 10px;
}

.--hidden {
    display: none !important;
}

.--callout {
    color: #ffcc00;
}

/*************************************** NAV */
.c-nav {
    background-color: black;
    display: flex;
    padding: 7px;
}

.c-nav a {
    /*background: rgba(255, 255, 255, 0.1);*/
    border-radius: 2px;
    color: inherit;
    /*font-weight: bold;*/
    padding: 4px 20px;
    text-decoration: none;
    text-transform: uppercase;
}

.c-nav a.--is-current {
    background: #555; /*rgba(255, 128, 0, 0.3);*/
    color: #fff;
    pointer-events: none;
}

.c-nav a:hover {
    background: rgba(255, 255, 255, 0.1);
    color: #eee;
}

.c-nav a + a {
    /*border-left: 1px solid rgba(255, 255, 255, 0.2);*/
    margin-left: 2px;
}
