/**************************************************************** CONSTANTS */
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap");
/**************************************************************** HTML ELEMENTS */
body {
  background: #333;
  color: #aaa;
  font-family: "IBM Plex Sans", Helvetica, sans serif;
  font-size: 0.8em;
  margin: 0;
}

a {
  color: #ff8000;
}

div {
  box-sizing: border-box;
  position: relative;
}

h1 {
  color: white;
  font-size: 1.5em;
  margin: 0;
}

.app-version {
  font-weight: 100;
  opacity: 0.3;
}

ol, ul {
  margin: 5px 0;
  padding: 0 20px;
}

.--main h2, .--main h3,
.c-output h2,
.c-output h3 {
  font-size: inherit;
  text-transform: uppercase;
}
.--main h2,
.c-output h2 {
  padding: 4px 6px;
  margin: 2px 0;
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.8);
  text-transform: uppercase;
}

h3 {
  font-weight: normal;
}

input[type=text],
input[type=number],
textarea,
select,
.output {
  border: 1px solid #333;
  border-radius: 3px;
  box-sizing: border-box;
  color: inherit;
}

input[type=text],
input[type=number],
textarea {
  background: #222;
  appearance: none;
  padding: 5px 10px;
}

input[type=text] {
  width: 200px;
}
input[type=text].--lg {
  width: 400px;
}

button,
input[type=file],
input[type=submit] {
  cursor: pointer;
  width: max-content;
}

button,
input[type=submit] {
  background-color: #666;
}

button[disabled] {
  pointer-events: none;
  opacity: 0.2;
}

select {
  background: #444;
  padding: 4px;
}

button,
.c-btn {
  appearance: none;
  background: #ecb157;
  border-radius: 3px;
  border: 1px solid transparent;
  box-sizing: border-box;
  color: #222;
  font-size: 1em;
  font-weight: 600;
  padding: 5px 20px;
  text-decoration: none;
}

.c-btn-run {
  background: #ff8000;
}

button[class*="--minor"] {
  background: #999;
}

form {
  display: contents;
}

.sm input {
  width: 75px;
}

.c-file-input {
  align-items: center;
  display: flex;
}

.c-file-input input[type=file] {
  flex: 1 1 auto;
}

.c-file-input .c-btn {
  flex: 0 0 max-content;
}

.contents {
  display: contents;
}

::-webkit-scrollbar {
  box-sizing: border-box;
  box-shadow: inset rgba(0, 0, 0, 0.2) 0 1px 2px;
  background-color: rgba(0, 0, 0, 0.2);
  height: 7px;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  box-sizing: border-box;
  background: #666;
}
::-webkit-scrollbar-thumb:hover {
  background: #777;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

/**************************************************************** OVERALL LAYOUT */
.c-app {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  gap: 10px;
  flex-direction: column;
  overflow: hidden;
}

.page,
.head {
  padding: 0 20px;
}

.c-nav,
.head {
  flex: 0 0 auto;
}

.head {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.headh1 {
  display: flex;
  align-items: center;
  gap: 10px;
}
.headh1 > * {
  flex: 0 0 auto;
}

/**************************************************************** NAV */
.c-nav {
  background-color: black;
  display: flex;
  padding: 5px;
}

.c-nav a {
  /*background: rgba(255, 255, 255, 0.1);*/
  border-radius: 2px;
  color: inherit;
  /*font-weight: bold;*/
  padding: 2px 10px;
  text-decoration: none;
  text-transform: uppercase;
}

.c-nav a.--is-current {
  background: #555; /*rgba(255, 128, 0, 0.3);*/
  color: #fff;
  pointer-events: none;
}

.c-nav a:hover {
  background: rgba(255, 255, 255, 0.1);
  color: #eee;
}

.c-nav a + a {
  /*border-left: 1px solid rgba(255, 255, 255, 0.2);*/
  margin-left: 2px;
}

/**************************************************************** PAGE */
.page {
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
  overflow: hidden;
}

.page-main {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  gap: 10px;
}

.page-main + .page-main {
  margin-left: 10px;
  flex: 0 1 30%;
}

.page-section {
  flex: 0 0 auto;
}

.page-section.--can-shrink,
.page-section.--expands {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.page-section.--expands {
  flex: 1 1 auto;
}

.--scrolls {
  overflow: auto;
}

.page-section.--min-content {
  min-height: min-content !important;
}

.page-section--centered {
  text-align: center;
}

.--main .page-section + .page-section {
  margin-top: 10px;
}

.--hidden {
  display: none !important;
}

.--callout {
  color: #ffcc00;
}

[class*=-holder] {
  display: flex;
  gap: 10px;
}

[class*=-holder] > * {
  flex: 1 1 50%;
}

.c-config {
  align-items: center;
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  height: min-content;
}

.c-config h2 {
  grid-column: span 2;
}

.c-config__label {
  padding: 5px 0;
}

.c-how {
  /*max-height: 20vh;*/
  overflow: auto;
  padding: 0 10px;
}

/**************************************************************** OUTPUT */
.c-output {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto !important;
  gap: 5px;
  height: 0;
  overflow: hidden;
}
.c-output > * {
  flex: 0 0 auto;
}

.c-msg {
  flex: 1 1 auto;
  line-height: 120%;
  overflow: auto;
}

.c-msg p {
  margin: 2px;
  padding: 0;
}

.c-msg__table {
  border-collapse: collapse;
  border-spacing: 1px;
  width: 100%;
}

.c-msg__table thead td {
  background-color: rgba(255, 255, 255, 0.2);
}

.c-msg__table tbody td {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  overflow-wrap: anywhere;
  padding: 3px 1px;
}

.c-msg__grid {
  display: grid;
  gap: 1px;
  margin-top: 5px;
}
.c-msg__grid div {
  padding: 3px 5px;
}
.c-msg__grid div.bdy {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  overflow-wrap: anywhere;
}
.c-msg__grid div.hdr {
  background-color: rgba(255, 255, 255, 0.1);
}

/**************************************************************** SIDEBAR */
.--sidebar {
  overflow: auto;
}
.--sidebar h2 {
  font-size: 1em;
  margin-top: 20px;
}
.--sidebar h2:first-child {
  margin-top: 0;
}

/**************************************************************** HELP */
.--help h1, .--help h2, .--help h3, .--help h4 {
  background: none !important;
  color: white;
  margin-bottom: 0.3em;
}
.--help h2 {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding-bottom: 0.5em;
}
.--help h2.feature-hdr {
  text-transform: uppercase;
}
.--help h2, .--help h3 {
  margin-top: 1em;
}
.--help h4 {
  margin-top: 0.7em;
}
.--help table {
  border-collapse: collapse;
}
.--help table td, .--help table th {
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 2px 4px;
  text-align: left;
}
.--help table th {
  background: rgba(255, 255, 255, 0.1);
}
.--help .screenshot {
  width: 100%;
  max-width: 1000px;
}

/**************************************************************** SPECIFIC ELEMENTS */
.c-mdb-status {
  padding: 2px 10px;
  border-radius: 3px;
  border: 1px solid #877842;
  color: #fff;
  font-size: 0.9em;
  text-decoration: none;
  text-transform: uppercase;
}
.c-mdb-status.--loaded {
  background: #098700;
  border: none;
}

/*# sourceMappingURL=styles.css.map */
