/**************************************************************** CONSTANTS */
// Scrollbar
$colorBodyBg: #333;
$colorBodyFg: #aaa;
$scrollbarTrackSize: 7px;
$scrollbarTrackShdw: rgba(#000, 0.2) 0 1px 2px;
$scrollbarTrackColorBg: rgba(#000, 0.2);
$scrollbarThumbColor: #666;
$scrollbarThumbColorHov: #777;

@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap");

/**************************************************************** HTML ELEMENTS */
body {
  background: $colorBodyBg;
  color: $colorBodyFg;
  font-family: "IBM Plex Sans", Helvetica, sans serif;
  font-size: 0.8em;
  margin: 0;
}

a {
  color: #ff8000;
}


div {
  box-sizing: border-box;
  position: relative;
}

h1 {
  color: white;
  font-size: 1.5em;
  margin: 0;
}

.app-version {
  font-weight: 100;
  opacity: 0.3;
}

ol, ul {
  margin: 5px 0;
  padding: 0 20px;
}

.--main,
.c-output {
  h2, h3 {
    font-size: inherit;
    text-transform: uppercase;
  }

  h2 {
    padding: 4px 6px;
    margin: 2px 0;
    border-radius: 3px;
    background: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.8);
    text-transform: uppercase;
  }
}

h3 {
  font-weight: normal;
}

input[type="text"],
input[type="number"],
textarea,
select,
.output {
  border: 1px solid #333;
  border-radius: 3px;
  box-sizing: border-box;
  color: inherit;
}

input[type="text"],
input[type="number"],
textarea {
  background: #222;
  appearance: none;
  padding: 5px 10px;
}

input[type="text"] {
  width: 200px;

  &.--lg {
    width: 400px;
  }
}

button,
input[type="file"],
input[type="submit"] {
  cursor: pointer;
  width: max-content;
}

button,
input[type="submit"] {
  background-color: #666;
}

button[disabled] {
  pointer-events: none;
  opacity: 0.2;
}

select {
  background: #444;
  padding: 4px;
}

button,
.c-btn {
  appearance: none;
  background: #ecb157;
  border-radius: 3px;
  border: 1px solid transparent;
  box-sizing: border-box;
  color: #222;
  font-size: 1em;
  font-weight: 600;
  padding: 5px 20px;
  text-decoration: none;
}

.c-btn-run {
  background: #ff8000;
}

button[class*='--minor'] {
  background: #999;
}

form {
  display: contents;
}

.sm input {
  width: 75px;
}

.c-file-input {
  align-items: center;
  display: flex;
}

.c-file-input input[type="file"] {
  flex: 1 1 auto;
}

.c-file-input .c-btn {
  flex: 0 0 max-content;
}

.contents {
  display: contents;
}

::-webkit-scrollbar {
  box-sizing: border-box;
  box-shadow: inset $scrollbarTrackShdw;
  background-color: $scrollbarTrackColorBg;
  height: $scrollbarTrackSize;
  width: $scrollbarTrackSize;
}

::-webkit-scrollbar-thumb {
  box-sizing: border-box;
  background: $scrollbarThumbColor;
  &:hover {
    background: $scrollbarThumbColorHov;
  }
}

::-webkit-scrollbar-corner {
  background: transparent;
}

/**************************************************************** OVERALL LAYOUT */
.c-app {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  gap: 10px;
  flex-direction: column;
  overflow: hidden;
}

.page,
.head {
  padding: 0 20px;
}

.c-nav,
.head {
  flex: 0 0 auto;
}

.head {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;

  > * {
    flex: 0 0 auto;
  }
}

/**************************************************************** NAV */
.c-nav {
  background-color: black;
  display: flex;
  padding: 5px;
}

.c-nav a {
  /*background: rgba(255, 255, 255, 0.1);*/
  border-radius: 2px;
  color: inherit;
  /*font-weight: bold;*/
  padding: 2px 10px;
  text-decoration: none;
  text-transform: uppercase;
}

.c-nav a.--is-current {
  background: #555; /*rgba(255, 128, 0, 0.3);*/
  color: #fff;
  pointer-events: none;
}

.c-nav a:hover {
  background: rgba(255, 255, 255, 0.1);
  color: #eee;
}

.c-nav a + a {
  /*border-left: 1px solid rgba(255, 255, 255, 0.2);*/
  margin-left: 2px;
}

/**************************************************************** PAGE */
.page {
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
  overflow: hidden;
}

.page-main {
  display: flex;
  flex-direction: column;
  flex: 1 1 70%;
  gap: 10px;
}

.page-main + .page-main {
  margin-left: 10px;
  flex: 0 1 30%;
}

.page-section {
  flex: 0 0 auto;
}

.page-section.--can-shrink,
.page-section.--expands {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.page-section.--expands {
  flex: 1 1 auto;
}

.--scrolls {
  overflow: auto;
}

.page-section.--min-content {
  min-height: min-content !important;
}

.page-section--centered {
  text-align: center;
}

.--main .page-section + .page-section {
  margin-top: 10px;
}

.--hidden {
  display: none !important;
}

.--callout {
  color: #ffcc00;
}

[class*='-holder'] {
  display: flex;
  gap: 10px;
}

[class*='-holder'] > * {
  flex: 1 1 50%;
}

.c-config {
  align-items: center;
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  height: min-content;
}

.c-config h2 {
  grid-column: span 2;
}

.c-config__label {
  padding: 5px 0;
}

.c-how {
  /*max-height: 20vh;*/
  overflow: auto;
  padding: 0 10px;
}

/**************************************************************** OUTPUT */
.c-output {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto !important;
  gap: 5px;
  height: 0; // Chrome overflow bug? Needed to force scrolling for c-msg
  overflow: hidden;

  > * {
    flex: 0 0 auto;
  }
}

.c-msg {
  flex: 1 1 auto;
  line-height: 120%;
  overflow: auto;
}

.c-msg p {
  margin: 2px;
  padding: 0;
}

.c-msg__table {
  border-collapse: collapse;
  border-spacing: 1px;
  width: 100%;
}

.c-msg__table thead td {
  background-color: rgba(255, 255, 255, 0.2);
}

.c-msg__table tbody td {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  overflow-wrap: anywhere;
  padding: 3px 1px;
}

.c-msg__grid {
  display: grid;
  gap: 1px;

  div {
    padding: 2px 4px;
  }

  div.bdy {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    overflow-wrap: anywhere;
  }

  div.hdr {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

/**************************************************************** SIDEBAR */
.--sidebar {
  overflow: auto;

  h2 {
    font-size: 1em;
    margin-top: 20px;

    &:first-child {
      margin-top: 0;
    }
  }
}

/**************************************************************** HELP */
.--help {
  $c: rgba(white, 0.1);

  h1, h2, h3, h4 {
    background: none !important;
    color: white;
    margin-bottom: .3em;
  }

  h2 {
    border-bottom: 1px solid $c;
    padding-bottom: 0.5em;

    &.feature-hdr {
      text-transform: uppercase;
    }
  }

  h2, h3 {
    margin-top: 1em;
  }

  h4 {
    margin-top: .7em;
  }

  table {
    border-collapse: collapse;

    td, th {
      border: 1px solid $c;
      padding: 2px 4px;
      text-align: left;
    }

    th {
      background: $c;
    }
  }

  .screenshot {
    width: 100%;
    max-width: 1000px;
  }
}

/**************************************************************** SPECIFIC ELEMENTS */
.c-mdb-status {
  padding: 2px 10px;
  border-radius: 3px;
  border: 1px solid #877842;
  color: #fff;
  font-size: 0.9em;
  text-decoration: none;
  text-transform: uppercase;

  &.--loaded {
    background: #098700;
    border: none;
  }
}
