@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap");

body {
    background: #333;
    color: #999;
    font-family: "IBM Plex Sans", Helvetica, sans serif;
    font-size: 0.8em;
    margin: 10px;
}

body > * + * {
    margin-top: 10px;
}

a {
    color: #ff8000;
}

p {
    display: block;
    padding: 4px 6px;
}

h1 {
    color: white;
    font-size: 1.5em;
}

.app-version {
    font-weight: 100;
    opacity: 0.3;
}

h2 {
    font-size: inherit;
    padding: 4px 6px;
    margin: 2px 0;
    border-radius: 3px;
    background: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
    opacity: 0.5;
}

input, button, textarea, select, .output {
    border: 1px solid #333;
    border-radius: 3px;
    box-sizing: border-box;
    color: inherit;
}

input, button, textarea {
    background: #222;
    appearance: none;
    padding: 5px 10px;
}

input[type="text"] {
    width: 200px;
}

button,
input[type="file"],
input[type="submit"] {
    cursor: pointer;
    width: max-content;
}

button,
input[type="submit"] {
    background-color: #666;
}

button[disabled],
input[disabled] {
    pointer-events: none;
    opacity: 0.2;
}

input.upload-file-btn {
    /*width: 100%;*/
}

select {
    background: #444;
    padding: 4px;
}

button, .c-btn-run {
    background: #778899;
    color: #222;
    font-weight: 600;
    padding: 5px 30px;
}

.c-btn-run {
    background: #ff8000;
}

.sm input {
    width: 75px;
}

.c-config-holder {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
    align-items: start;
}

.c-config {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}

.c-config h2 {
    grid-column: span 2;
}

.c-config__label {
    padding: 5px 0;
}

.c-file-input {
    align-items: center;
    display: flex;
}

.c-file-input input[type="file"] {
    flex: 1 1 auto;
}
.c-file-input .c-btn {
    flex: 0 0 max-content;
}

.output, .message {
    display: block;
    padding: 10px;
}

.output {
    background: rgba(255, 255, 255, 0.1);
    min-height: 1em;
    max-height: 10em;
    overflow: auto;
    word-break: break-all;
}

.output.lg {
    /*min-height: 100px;*/
    /*max-height: 300px;*/
}

.page-section--centered {
    text-align: center;
}

.page-section + .page-section {
    margin-top: 10px;
}
